# Creating a virtual environment
python -m venv venv

# For activating the virtual environment on Windows
.\venv\Scripts\activate

# For installing required packages
pip install fastapi uvicorn openai python-dotenv

# For installing PyTorch, Unsloth and Hugging Face libraries
pip install "unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
pip install --no-deps "xformers<0.0.27" "trl<0.9.0" peft accelerate bitsandbytes
pip install jupyter

# Starting Jupyter Notebook
jupyter notebook